.span-skills {
    border-radius: 25px;
    padding: 5px 10px;
    margin: 5px 0px;
    color: white;
    display: inline-block;
    background-color: #009688;
}

.social-icons{
    font-size: 25px;
    margin: 5px;
}
a img:hover {
    opacity: 70%;
    scale: 105%;
    transition-duration: 200ms;
}

.margin-rt-10{
   margin: 0px 10px;
}

.d-flex {
    display: flex;
}

.justify-spacebetween{
    justify-content: space-between;
}

.lg-200px {
    width: 400px;
}

.font-20px {
    font-size: 20px;
}